/* General Styles */
body {
  background: #FFD5C2;
  color: #ffffffdc;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #493548;
  font-family: 'Roboto Mono', monospace;
}

p{
  font-family: 'Roboto Mono', monospace;
}
.ttt{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #ebdbb2;
    font-size: 40;
}
a{
  color: #deb05c;
}


/* Main content styles */
main {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

/* Header styles */
.bg-steel {
  background-color: #427978;
}

.site-header .navbar-nav .nav-link {
  color: #FFD5C2;
  font-size: 16px;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: bold;
  gap: 10px;
  border: #C8553D;
}

.site-header .navbar-nav .nav-link:hover {
  color: #555353;
  background-color: #fcd3fa;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border: #C8553D;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.site-header .navbar-nav .nav-link.active {
  color: #ffffff;
  background-color: #493548;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  border: #C8553D;
  border-radius: 5px;
  padding: 5px 10px;
}


/* input css */
.input-container {
  width: 100%;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 50px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid rgb(121, 28, 28);
  font-size: 14px;
  letter-spacing: 2px;
}

.input:focus {
  border: 0.5px solid rgb(197, 108, 57);
  box-shadow: -5px -5px 0px rgb(219, 135, 135);
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

/* button css */
button {
  justify-content: center;
  align-items: center;
  appearance: none;
  background-color: #792c77;
  border: 0.125em solid #762727;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fffafa;
  background-color: #17801a;
  box-shadow: rgba(197, 97, 97, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.content-section {
  background: #C8553D;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  min-width: 300px;
  width: 70%;
  padding: 20px;
}

.login-text {
  margin-bottom: 20px;
  margin-top: 10px;
}

.title {
  color: #333;
}

.important-message {
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 20px;
}

.message-container {
  color: #ff0000;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.keys-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.key-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.key-label {
  font-weight: bold;
}

.key-value {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 64ch;
  margin: 0;
}

.verification-failure {
  color: red;
  font-weight: bold;
}

.verification-success {
  color: green;
  font-weight: bold;
}

.data-container {
  background-color: #493548;
  padding: 20px;
  margin-bottom: 20px;
}

.data-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.data-container p {
  margin-bottom: 10px;
}

.data-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.signature {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.signature span {
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-container {
  margin-top: 20px;
}

.transaction-list {
  list-style-type: none;
  padding: 0;
}

.transaction {
  margin-bottom: 20px;
  border: 1px solid #EFEFEF;
  padding: 10px;
  border-radius: 5px;
}

.transaction-id {
  font-size: 18px;
  font-weight: bold;
}

.transaction-details {
  margin-top: 10px;
}

.detail-label {
  font-weight: bold;
}

.detail-value {
  margin-left: 5px;
}

.copy-button {
  margin-left: 10px;
  background-color: #1A1A1A;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}

.copy-button:hover {
  background-color: #444;
}

.copy-button:active {
  background-color: #000;
}

.profile-container {
  margin: 20px;
  padding: 20px;
  background-color: #588B8B;
  border-radius: 5px;
}

.profile-label {
  font-weight: bold;
}

.profile-value {
  font-family: monospace;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: auto;
}

.plot-codes-container {
  margin-top: 20px;
}

.plot-codes {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.plot-codes li {
  margin: 5px;
}

.plot-codes li a {
  text-decoration: none;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
  color: #333;
}

.plot-codes li a:hover {
  background-color: #ddd;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #F28F3B;
  color: #ffffff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .site-header .navbar-nav .nav-link {
    margin-bottom: 5px;
  }

  .input {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .toggle-switch::before {
    font-size: 10px;
    right: -5px;
  }
}
