{% extends 'main/base.html' %}

{% block title %}User Keys{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1 class="title ttt">User Keys</h1>
        <p class="important-message">
            ☠️☠️☠️IMPORTANT Veuillez enregistrer votre clé privée dans un endroit sûr. La clé privée ne vous sera présentée qu'une seule fois.</p>
        
        <div class="keys-container">
            <div class="key-row">
                <pre>Username:</pre>
                <pre class="key-value" id="username">{{ username }}</pre>
            </div>
            <div class="key-row">
                <pre>Private Key:</pre>
                <pre class="key-value" id="private-key">{{ private_key }}</pre>
            </div>
            <div class="key-row">
                <pre >Public Key:</pre>
                <pre class="key-value" id="public-key">{{ public_key }}</pre>
            </div>

        </div>
            <div class="download-buttons">
                <button onclick="downloadPDF()">Download as PDF</button>
              </div>
    </div>

      
    
    
    
    
{% endblock %}





<!--  sala7 dark mode public_key vih new line use it  -->