{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login Form{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1 class="ttt">Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-container">
                <input class="input" name="username" placeholder="Username" type="username" value="{{ form.username.value|default_if_none:'' }}" required autofocus>
            </div>
            {% if form.username.errors %}
                <div class="text-danger">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="input-container">
                <input class="input" name="password" placeholder="Password" type="password" value="{{ form.password.value|default_if_none:'' }}" required>
            </div>
            {% if form.password.errors %}
                <div class="text-danger">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <button type="submit" class="submit-button">Login</button>
        </form>
        <div class="login-text">
            <b> Vous n'avez pas de compte ? <a href="{% url 'register' %}">Register</a></b>
        </div>
    </div>
{% endblock %}
