{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Register</button>
        <b>tou have an account? <a href="{% url 'login' %}">login</a></b>
      </form>
    </div>
  </body>
</html>
