{% extends 'main/base.html' %}

{% block title %}Ajouter un terrain{% endblock %}

{% block content %}
<div class="profile-container">
    <h1 class="title">Ajouter un terrain</h1>
    <form method="POST" >
        {% csrf_token %}
        <div class="input-container">
            <label for="plot_code">terrain ID :</label>
            <input type="text" name="plot_code" id="plot_code" class="input" required>
        </div>

        <div class="input-container">
            <label for="receiver_username">Destinataire :</label>
            <input type="text" name="receiver_username" id="receiver_username" class="input" required>
        </div>

        <div class="input-container">
            <label for="note">Note:</label>
            <textarea name="note" id="note" class="input" required></textarea>
        </div>

        <div class="input-container">
            <label for="private_key">Private Key:</label>
            <textarea name="private_key" id="private_key" class="input" rows="4" required></textarea>
        </div>

        <button type="submit" class="form-button">Ajouter</button>
    </form>
</div>
{% endblock %}

